.about {
  padding-top: 50px;
}

.text_about {
  padding-right: 540px;
}

.title_about {
  margin-bottom: 20px;
}

.about__circle {
  display: inline-block;
  background-image: url(../img/about__circle.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
