.work {
  padding-top: 43px;
}

.work__container {
  display: flex;
}

.work__column {
  width: 50%;
}

.work__left {
  background-image: url(../img/work__left__bi.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 30px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.work__text-container {
  padding: 42px 68px 38px 54px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
  margin-right: 80px;
}

.work__link {
  display: block;
  padding: 17px 35px;
  border: 3px solid var(--orange);
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
}

.work__link:hover {
  background-color: var(--orange);
}

.work__link:active {
  background-color: var(--dark-orange);
  border: 3px solid var(--dark-orange);
}

.work__item {
  padding: 67px 115px 63px 300px;
  background-repeat: no-repeat;
  border: 1px solid #cacaca;
}

.work__item:not(:last-child) {
  margin-bottom: 30px;
}

.title-bold_work {
  line-height: 29px;
  margin-bottom: 5px;
}

.work__item-1 {
  background-image: url(../img/work__right_1.svg);
  background-position: 63px 71px;
}

.work__item-2 {
  background-image: url(../img/work__right_2.svg);
  background-position: 63px 55px;
}
