*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif, Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1830px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.title-bold {
  font-size: 24px;
  font-weight: 700;
}

.btn {
  font-weight: 700;
  background-color: #ff9900;
  color: var(--white);
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.btn:active {
  background-color: var(--dark-orange);
}

.btn:focus {
  outline: 3px solid rgb(115, 114, 196);
}

:root {
  --white: #fff;
  --black: #333;
  --orange: #ff9900;
  --dark-orange: #e1670e;
}

@media (max-width: 1860px) {
  /* hero */
  .hero__content {
    padding-right: 720px;
  }
}

@media (max-width: 1750px) {
  /* hero */
  .hero {
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero__content {
    padding-right: 370px;
  }

  /* work */
  .work__item {
    padding: 67px 65px 63px 250px;
  }

  .work__item-1 {
    background-position: 40px 71px;
  }

  .work__item-2 {
    background-position: 40px 55px;
  }

  /* footer */
  .footer__left {
    padding-right: 145px;
  }

  .footer__right {
    padding-left: 60px;
  }
}

@media (max-width: 1400px) {
  /* about */
  .text_about {
    padding-right: 300px;
  }

  /* hero */
  .hero__content {
    padding-right: 170px;
  }

  /* work */
  .work__text-container {
    padding: 22px 48px 18px 34px;
  }

  .work__text {
    margin-right: 10px;
  }

  .work__item {
    padding: 67px 40px 63px 210px;
  }

  .work__item-1 {
    background-position: 20px center;
  }

  .work__item-2 {
    background-position: 20px center;
  }

  /* how */
  .how__right {
    flex-grow: 1;
  }

  .footer__left {
    padding-right: 70px;
  }

  .footer__label {
    display: block;
  }
}

@media (max-width: 1200px) {
  /* header */
  .header__item:not(:last-child) {
    margin-right: 50px;
  }

  /* work */
  .work__container {
    display: block;
  }

  .work__column {
    width: 100%;
  }

  .work__text {
    margin-right: 20px;
  }

  .work__item {
    padding-left: 220px;
  }

  .work__left {
    margin-bottom: 50px;
    padding-top: 464px;
  }

  .questions__item {
    padding-left: 0;
  }

  /* footer */
  .footer__right {
    display: none;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .header__container,
  .hero,
  .about,
  .work,
  .how,
  .questions__container,
  .footer {
    padding-right: 50px;
    padding-left: 50px;
  }

  .burger {
    display: block;
  }

  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__list {
    display: none;
  }

  .header__button {
    transform: translate(0, 0);
  }

  /* hero */
  .swiper-slide-1 {
    background-image: url(../img/hero__bi-1_1024.webp);
  }

  .hero__content {
    padding: 161px 96px 114px 46px;
  }

  .hero__title {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 10px;
  }

  .hero__text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 110px;
    letter-spacing: normal;
  }

  .hero__link {
    padding: 25px 42px;
  }

  /* about */
  .about {
    padding-top: 10px;
  }

  .title_about {
    margin-bottom: 25px;
  }

  .about__container {
    padding-right: 0;
  }

  .text_about {
    padding-right: 0;
  }

  /* work */
  .work {
    padding-top: 58px;
  }

  .work__text-container {
    padding: 42px 50px 38px 46px;
  }

  .work__text {
    padding-right: 145px;
  }

  .work__item {
    padding: 66px 115px 63px 349px;
  }

  .work__item-1 {
    background-image: url(../img/work__right_1.svg);
    background-position: 112px 76px;
  }

  .work__item-2 {
    background-image: url(../img/work__right_2.svg);
    background-position: 112px 63px;
  }

  .work__item:not(:last-child) {
    margin-bottom: 42px;
  }

  .work__text {
    margin: 0;
  }

  .work__left {
    background-image: url(../img/work__bi_1024.webp);
  }

  /* how */
  .how {
    padding-top: 60px;
  }

  .how__left {
    padding-right: 23px;
  }

  .title_how {
    margin-bottom: 50px;
  }

  .how__list {
    padding-left: 0;
    margin-bottom: 49px;
  }

  .text_how {
    margin-bottom: 28px;
  }

  .how__right-1::after {
    margin-top: 7px;
    margin-left: 25px;
    background-image: url(../img/how_1024.webp);
  }

  /* questions */
  .questions {
    padding-top: 55px;
    padding-bottom: 84px;
    padding-right: 0;
  }

  .title-bold {
    font-size: 24px;
  }

  .title_questions {
    margin-bottom: 38px;
  }

  .questions__item:nth-child(2n) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .title-bold_questions {
    font-size: 20px;
  }

  p.ui-accordion-content-active {
    height: 100%;
  }

  .accord-container {
    overflow: auto;
  }

  /* footer */
  .footer__container {
    padding-top: 2.8em;
    padding-bottom: 5em;
  }

  .footer__left {
    padding-right: calc(11px + (70 - 11) * ((100vw - 768px) / (1024 - 768)));
  }

  .footer__logo {
    display: block;
    margin-bottom: 17px;
  }

  .footer__label {
    display: inline;
  }

  .footer__title {
    padding-top: 13px;
    margin-bottom: 23px;
  }

  .footer__btn {
    padding: 20px 38px 20px 38px;
    margin-right: 16px;
  }
}

@media (max-width: 898px) {
  /* work */
  .work__item {
    padding-left: 245px;
    padding-right: 50px;
  }

  .work__item-1 {
    background-position: 30px 71px;
  }

  .work__item-2 {
    background-position: 30px 55px;
  }

  /* how */
  .how__link-orange {
    margin-right: 5px;
    padding: 20px 25px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 8px 50px 8px 50px;
    background-position: 47px 31px;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-list {
    padding-left: 40px;
  }

  /* hero */
  .hero__content {
    padding: 192px 0px 114px 51px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-size: 25px 25px;
  }

  .hero__text {
    margin-bottom: 110px;
  }

  .swiper-slide-1 {
    background-image: url(../img/hero_bi_768.webp);
  }

  /* work */
  .work__left {
    padding-top: 477px;
    margin-bottom: 42px;
    background-image: url(../img/work__bi_768.webp);
  }

  .work__text-container {
    padding: 25px 30px 20px 31px;
  }

  .work__text {
    padding-right: 28px;
  }

  .work__item {
    padding: 37px 36px 32px 178px;
  }

  .work__item-1 {
    background-size: 118px 91px;
    background-position: 31px center;
  }

  .work__item-2 {
    background-size: 118px 97px;
    background-position: 31px center;
  }

  /* how */
  .how {
    padding-top: 60px;
  }

  .how__column {
    width: 100%;
  }

  .how__desc-item {
    flex-direction: column-reverse;
  }

  .how__list {
    justify-content: space-between;
    margin-bottom: 46px;
  }

  .how__left {
    padding-right: 0;
  }

  .text_how {
    padding-left: 0;
  }

  .how__right-cotainer {
    margin-bottom: 40px;
  }

  .how__right {
    padding: 284px 0 0 0;
  }

  .how__right-1::after {
    margin-top: 0;
    margin-left: 0;
    background-image: url(../img/how_768.webp);
  }

  .how__link-orange {
    margin-right: 27px;
    padding: 20px 38px;
  }

  /* questions */
  .questions {
    padding-top: 60px;
    padding-bottom: 58px;
  }

  .questions__item:first-child {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  .questions__item {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .title_questions {
    margin-right: -27px;
  }

  /* footer */
  .footer__container {
    flex-direction: column-reverse;
  }
  
  .footer__left {
    padding-right: 0;
    flex-direction: column-reverse;
  }

  .footer__middle {
    margin-bottom: 58px;
    padding-right: 133px;
  }

  .footer__form {
    padding-left: 0;
  }

  .footer__list {
    display: none;
  }
}

@media (max-width: 707px) {
  .header__container,
  .hero,
  .about,
  .work,
  .how,
  .questions__container,
  .footer {
    padding-right: 25px;
    padding-left: 25px;
  }

  /* hero */
  .hero__content {
    padding-right: 30px;
    padding-left: 30px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 40px;
  }

  .hero__text {
    margin-bottom: 50px;
    font-size: 15px;
  }

  .hero__link {
    padding: 17px 37px;
    font-size: 16px;
  }

  /* work */
  .work__left {
    margin-bottom: 40px;
    padding-top: calc(240px + (477 - 240) * ((100vw - 320px) / (707 - 320)));
  }

  .work__text-container {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .work__text {
    color: var(--black);
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .work__link {
    color: var(--orange);
    margin-left: 0;
    border-width: 2px;
    padding: 11px 42px 11px 42px;
    font-size: 12px;
    line-height: 15px;
  }

  .work__item {
    border: none;
    padding: 60px 0 0 0;
  }

  .work__item-1 {
    background-size: 64px 49px;
    background-position: 0 0;
  }

  .work__item-2 {
    background-size: 63px 55px;
    background-position: 0 0;
  }

  /* how */
  .how__item:not(:last-child) {
    margin-right: 40px;
  }

  /* questions */
  .title-bold_questions {
    font-size: 16px;
  }

  .title_questions {
    margin-right: 0px;
    font-size: 38px;
  }

  /* footer */
  .footer__title {
    font-size: 34px;
  }

  .footer__middle {
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  /* body */
  .header__container,
  .hero,
  .about,
  .work,
  .how,
  .questions__container,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }

  .title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .title-bold {
    font-size: 18px;
    font-weight: 500;
  }

  /* header */
  .header__container {
    background-position: 281px 31px;
    background-size: 25px 19px;
    padding-top: 10px;
    padding-bottom: 0;
    flex-direction: row-reverse;
  }

  .header__logo {
    margin-left: 0;
    transform: translateY(-3px);
  }

  .header__button {
    display: none;
  }

  .burger {
    width: 25px;
    height: 19px;
    transform: translateY(-5px);
  }

  .menu {
    padding: 13px 15px 0 61px;
    min-height: 307px;
    right: 0;
    left: 37.5%;
  }

  .menu-list {
    padding-left: 0;
  }

  .menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .burger-link:not(:last-child) {
    margin-bottom: 19px;
  }

  .close {
    margin-left: auto;
    margin-bottom: 34px;
  }

  /* hero  */
  .hero__content {
    padding: 32px 24px 40px;
    text-align: center;
  }

  .hero__title {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .hero__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 34px;
  }

  .hero__link {
    font-size: 12px;
    line-height: 15px;
    padding: 11px 28px 14px 28px;
  }

  .hero {
    padding-bottom: 30px;
  }

  .swiper-slide-1 {
    background-size: 100%;
  }

  /* about */
  .title_about {
    margin-bottom: 2px;
  }

  /* work */
  .work {
    padding-top: 10px;
  }

  /* .work__text-container {
    background-color: transparent;
  } */

  .work__text {
    color: var(--black);
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .work__link {
    color: var(--orange);
    margin-left: 0;
    border-width: 2px;
    padding: 11px 42px 11px 42px;
    font-size: 12px;
    line-height: 15px;
  }

  .work__item:nth-child(2) {
    padding-top: 68px;
  }

  .title-bold_work {
    line-height: 22px;
    font-weight: 600;
  }

  .title-bold_work:nth-child(2) {
    margin-bottom: 5px;
  }

  .work__item:not(:last-child) {
    margin-bottom: 19px;
  }

  /* how */
  .how {
    padding-top: 49px;
  }

  .how__item:not(:last-child) {
    margin-right: 31px;
  }

  .how__link-active {
    font-size: 14px;
    line-height: 17px;
  }

  .how__link {
    font-size: 14px;
    line-height: 17px;
  }

  .how__link-orange {
    font-size: 14px;
    line-height: 15px;
    padding: 12px 38px 13px 38px;
    margin-right: 6px;
  }

  .how__link-contract {
    font-size: 14px;
    line-height: 15px;
    padding: 11px 26px 12px 27px;
  }

  .title_how {
    margin-bottom: 34px;
  }

  .text_how {
    margin-bottom: 20px;
  }

  .title-bold_how {
    letter-spacing: 0.1px;
    margin-bottom: 4px;
  }

  .how__list {
    margin-bottom: 15px;
  }

  .how__right-cotainer {
    margin-bottom: 15px;
  }

  .how__right {
    padding: 160px 0 0 0;
  }

  /* questions */
  .questions {
    padding-top: 39px;
    padding-bottom: 63px;
  }

  .questions__item:nth-child(-n + 5) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: 30px 30px;
    padding-right: 29px;
  }

  .title_questions {
    margin-right: -27px;
  }

  .questions__btn::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-size: contain;
    transition: background-image 0.2s ease;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='25' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z' fill='%23666666'/%3E%3C/svg%3E%0A");
  }

  .title-bold_questions {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  .accord-text {
    font-size: 14px;
    line-height: 24px;
  }

  .title_questions {
    margin-bottom: 15px;
  }

  /* footer */
  .footer__logo {
    display: block;
    transform: translate(2px, -8px);
    margin-bottom: 2px;
  }

  .footer__container {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .footer__left {
    text-align: center;
    padding-right: 0;
    transform: translateY(-26px);
  }

  .footer__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .footer__middle {
    padding-right: 0;
  }

  .footer__label {
    display: block;
    text-align: center;
  }

  .footer__label::after {
    content: "";
    display: block;
    height: 1px;
    width: 290px;
    background-color: #595959;
    margin-top: 25px;
  }

  .footer__btn {
    display: block;
    margin: 0 auto 12px;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 27px 13px;
  }

  .footer__message {
    margin-bottom: 27px;
  }

  .footer__form-item {
    font-size: 14px;
    padding: 13px 0 14px 21px;
  }

  .footer__social-list {
    justify-content: center;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 14px;
  }

  .footer__social-link_fb {
    width: 34px;
    height: 34px;
    background-size: contain;
    background-position: center 0;
  }

  .footer__social-link_vk {
    width: 34px;
    height: 34px;
    background-size: contain;
    background-position: center 0;
  }

  .footer__social-link_inst {
    width: 34px;
    height: 34px;
    background-size: contain;
    background-position: center 0;
  }

  .title_questions {
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  .swiper-slide-1 {
    background-image: url(../img/hero_bi_320.webp);
  }

  .work__text-container {
    padding: 240px 0px 0px 0px;
    background-color: transparent;
  }

  .work__left {
    background-position: 0 15px;
    padding-top: 0;
    background-image: url(../img/work_bi_320.webp);
    background-size: contain;
  }

  .how__right-1::after {
    background-image: url(../img/how_320.webp);
  }
}
